---
_extends: .github:common-settings.yaml

repository:
  name: renovate-action
  description: GitHub Action for Self-Hosted Renovate
  topics: renovate, self-hosted, action, github-action, composite, nodejs, typescript, github-actions

teams:
  - name: actioneers
    permission: push
  - name: services
    permission: maintain
  - name: owners
    permission: admin

branches:
  - name: main
    protection:
      enforce_admins: true
      required_linear_history: true
      required_pull_request_reviews: null
      required_status_checks:
        strict: true
        contexts: ['Build', 'Lint', 'Release', 'Test', 'Setup', 'Renovate', 'Analyze']
      restrictions: null

  - name: 'release'
    protection:
      enforce_admins: true
      required_linear_history: false
      required_pull_request_reviews: null
      required_status_checks: null
      restrictions: null
