:root {
  --sl-color-accent-low: #1e3a8a;
  --sl-color-accent: #3b82f6;
  --sl-color-accent-high: #60a5fa;
  --sl-color-white: #ffffff;
  --sl-color-gray-1: #f8fafc;
  --sl-color-gray-2: #f1f5f9;
  --sl-color-gray-3: #e2e8f0;
  --sl-color-gray-4: #cbd5e1;
  --sl-color-gray-5: #94a3b8;
  --sl-color-gray-6: #64748b;
  --sl-color-black: #0f172a;
}

:root[data-theme='dark'] {
  --sl-color-white: #1e293b;
  --sl-color-gray-1: #334155;
  --sl-color-gray-2: #475569;
  --sl-color-gray-3: #64748b;
}
