name: CI

on:
  push:
    branches: [main, 'renovate/**']
  pull_request:
    branches: [main]
  workflow_dispatch:

concurrency:
  group: '${{ github.workflow }}-${{ github.event.pull_request.head.label || github.head_ref || github.ref }}'
  cancel-in-progress: true

env:
  FORCE_COLOR: true
  LOG_LEVEL: debug

jobs:
  validate-config-presets:
    name: Validate config presets
    runs-on: ubuntu-latest
    timeout-minutes: 10
    strategy:
      matrix:
        file:
          - default
    env:
      RENOVATE_CONFIG_FILE: ${{ matrix.file }}.json
    steps:
      - uses: actions/checkout@8f4b7f84864484a7bf31766abe9204da3cbe65b3 # v3.5.0
      - name: Validating ${{ env.RENOVATE_CONFIG_FILE }}
        run: npx -p renovate renovate-config-validator

  # Revisit this job when renovatebot/renovate#18974 is resolved.
  # renovate:
  #   needs: validate-config-presets
  #   if: github.event_name != 'workflow_dispatch'
  #   uses: ./.github/workflows/renovate.yaml
  #   # Set autodiscover to false to run Renovate on this repository only
  #   with:
  #     autodiscover: false
  #     print_config: true
  #   secrets: inherit
